/* styles.css */

/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../assests/login.jpg);
    color: #333;
}

/* Header Styles */
header {
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header img {
    height: 50px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    letter-spacing: 1px;
}

/* Main Section */
main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.381);
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 1.8rem;
    color: #ffffff;
    margin-bottom: 1rem;
    border-bottom: 2px solid #ffffff;
    display: inline-block;
    padding-bottom: 0.5rem;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #ffffff;
}

input, select, textarea, button {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
}

input:focus, select:focus, textarea:focus {
    border-color: #c6e7e2;
    box-shadow: 0 0 5px rgba(169, 225, 202, 0.3);
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    background-color: #004d40;
    color: white;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004d40;
}

footer {
    text-align: center;
    padding: 1.5rem 0;
    background: #e0e0e0;
    font-size: 0.9rem;
    margin-top: 3rem;
}


/* Responsive Design */
@media (max-width: 768px) {
    main {
        padding: 1rem;
    }

    header h1 {
        font-size: 1.5rem;
    }
}
